<nav class="bg-seasalt grid place-items-center py-4 shadow fixed top-0 w-screen text-xl font-semibold">
    <div class="flex gap-24">
        <a href="#s1" class="text-fontent hover:underline hover:text-mainColor">Proyectos</a>
        <a href="#s2" class="text-fontent hover:underline hover:text-mainColor">Sobre mi</a>
        <a href="#" class="text-fontent hover:underline hover:text-mainColor">Contacto</a>
        <div class="absolute top-2 right-12">
            <app-rounded-btn>
                <i class="bi bi-moon-stars-fill self-end"></i>
            </app-rounded-btn>
        </div>
    </div>
</nav>