.projectCard {
  display: grid;
  gap: 8px;
  grid-template-rows: auto 1fr;
  cursor: pointer;
}

.cardContainer {
  margin-left: 25%;
  margin-bottom: 16px;
  overflow: hidden;
  transition: all ease 0.5s;
}

.projectCard:hover .cardContainer {
  margin-left: 10%;
}

.card {
  width: 1500px;
  height: 100%;
  border-radius: 8px;
  z-index: 1;
  display: grid;
  grid-template-rows: 42px 1fr;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}