<div class="bentoGrid">
    <app-project-card [title]="'Sistema gastronomico'"
        [description]="'Un software que hacia falta en el bar en el que trabajaba para agilizar la administración de pedidos de las mesas las ventas del mostrador y llevar una cuenta clara en la caja. Dado que en ese momento mis conocimientos se limitaban a HTML, CSS y JS lo hice completamente en vanilla lo que hizo dificultosa su escalabilidad. Alguna de las funcionalidades que ofrece:'"
        [features]="[
        'Ventas por mostrador',
        'Movimientos de caja',
        'Múltiples medios de pago',
        'Carga, eliminación y actualización de datos',
        'Categorías de productos',
        'Precios y costos de productos',
        'Deshabilitación de productos cuando sea necesario',
        'Impresión de comandas',
        'Impresión de tickets de control de mesa para clientes',
        'Personalización de tickets como mensajes personalizados al pie, nitidez o tamaño de la fuente',
        'Reporte diario de ventas',
        'Venta en mesas',
        'Traslado de consumos entre mesas'
      ]"
        class="col-span-4 row-span-4">
        <div class="p-4">
        </div>
    </app-project-card>
    <app-project-card [title]="'Clon de Trello'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'"
        class="col-span-2 row-span-2" />
    <app-project-card [title]="'POS para negocios'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'"
        class="col-span-2 row-span-2" />
    <app-project-card [title]="'E-Comerce con Angular'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'"
        class="col-span-2 row-span-2" />
    <app-project-card [title]="'Juegos hechos en Angular y Unity 3d'"
        [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'"
        class="col-span-3 row-span-2" />
    <div class="row-span-2">
        <app-go-to-git-hub />
    </div>
</div>