<div class="bentoGrid">
    <app-project-card [title]="'Sistema gastronomico'" class="col-span-4 row-span-4">
        <div class="p-4">
        </div>
    </app-project-card>
    <app-project-card [title]="'Clon de Trello'" class="col-span-2 row-span-2" />
    <app-project-card [title]="'Juegos hechos en Angular y Unity 3d'" class="col-span-2 row-span-4" />
    <app-project-card [title]="'E-Comerce con Angular'"
        class="col-span-2 row-span-2" />
    <app-project-card [title]="'POS para negocios'" class="col-span-2 row-span-2" />
</div>